body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    transition: background-color 0.5s ease;
}

#pokemon-info {
    margin-top: 20px;
}

#pokemon-image {
    width: 150px;
    height: 150px;
}

#error-message {
    margin-top: 20px;
    font-weight: bold;
}